Q1. Find the largest number from the given list, use for loop.

In [3]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in range(len(numbers)): # 0
    for j in range(i+1, len(numbers)): # j = 1
        if numbers[i] > numbers[j]:
            numbers[i],numbers[j] = numbers[j],numbers[i]

print(f"{numbers[-1]} is the largest number in the numbers list.")

525 is the largest number in the numbers list.

Q2. Print all the even number between (1, 12).

In [6]:
for i in range(1,12):
    if i%2 == 0:
        print(i, end=' ')

2 4 6 8 10

Q3. Calculate the sum of all numbers from 1 to a given number

In [13]:
given_number = int(input("Enter the number:- "))
print(f'The sum is {sum(list(range(1,given_number+1)))}')

Enter the number:- 10
The sum is 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

    The number must be divisible by five

    If the number is greater than 150, then skip it and move to the next number

    If the number is greater than 500, then stop the loop

In [21]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i%5 == 0 and not i > 150:
        print(i)

75
150
145

Q5. Print the given list in reverse order.

In [28]:
#1st method
list1 = [10,20,30,40,50]
print(list1[::-1])


# 2nd method
list2 = list()
for i in range(len(list1)-1, -1, -1):
    list2.append(list1[i])
print(list2)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]